.nav-justified a{
	color: #ffffff
}
.nav-justified a:focus, .nav-justified a:hover, .nav-justified a:active{
	color: #ffffff;
	background-color: #090909 !important
}

.dropdown-menu a:active, .dropdown-menu a:hover, .dropdown-menu a:focus{
	background: none !important;
}

.dit-logo{
	width:24%;
	margin:0 0 20px 58px
}

.margin-top10{
	margin-top: 25px
}

body {
  /*background: url('./grayscale-MD.png');*/
  background-size: cover;
}
a {
  color: #c81f23;
}
a:hover {
  color: #b21c20;
}
.custom-hr {
  border-top: 1px solid #c81f23;
}
hr {
  border-top: 1px solid #ddd;
}

.space {
  margin-top: 10px;
}
.container {
  background-color: #fff;
  box-shadow: 0px 0px 5px #888888;
}
/*.jumbotron {
  background: url('./Terpmail-header.png') no-repeat center;
  background-size: cover;
  background-color: transparent;
  margin-bottom: 0;
}*/
.banner {
  padding-right: 0px;
  padding-left: 0px;
}
.banner-img {
  width: 100%
}
.btn-primary {
  background-color: #e03a3e;
  border-color: #dd2428;
}
.btn-primary:hover {
  background-color: #c81f23;
  border-color: #b21c20;
}
.navbar {
  border-radius: 0;
}
.container .jumbotron {
  border-radius: 0;
}
.thumbnail {
  border-radius: 0;
}

.alert-box {
  border: 1px solid rgb(226, 24, 51);
  margin-top: 1em;
  padding: 0px 15px 15px 15px;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
